{% load static %}
{% load cart_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="{% static 'css/mohsen/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mohsen/src/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <nav class="nav">
    <ul>
       <li>    <a href="">خوش آمدید, {{ request.user.username }}</a></li>
       <li>    <a href="{% url 'product_list' %}">لیست محصولات</a></li>
       <li>    <a href="{% url 'purchase_records' %}">سوابق خرید</a></li>
       <li> <a href="{% url 'cart' %}">سبد خرید</a></li>
       <li> <a href="{% url 'logout' %}">حروج از اکانت</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn"><i class="fas fa-bars"></i> منوی محصولات</a>
        <div class="dropdown-content">
            <a href="http://127.0.0.1:8000/products/?verticals=hot_drinks">نوشیدنی گرم</a>
            <a href="http://127.0.0.1:8000/products/?verticals=cold_drinks">نوشیدنی سرد</a>
            <a href="http://127.0.0.1:8000/products/?verticals=shake">شیک</a>
            <a href="http://127.0.0.1:8000/products/?verticals=cake">کیک</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="main">
    <div class="container mt-5">
        <h2 class="section-title">سبد خرید</h2>
        <div class="card p-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>نام محصول</th>
                        <th>تعداد</th>
                        <th>قیمت</th>
                        <th>مجموع</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>
                            <form method="POST" action="{% url 'cart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="cart_id" value="{{ item.id }}">
                                <input type="number" value="{{ item.quantity }}" min="1" name="quantity" class="form-control mb-2">
                                <button class="btn-coffee" type="submit" name="update_quantity">بروز رسانی</button>
                            </form>
                        </td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.product.price|multiply:item.quantity }}</td>
                        <td>
                            <form method="POST" action="{% url 'cart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="cart_id" value="{{ item.id }}">
                                <button class="btn-coffee" type="submit" name="remove_item">حذف</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-end">
                <p>{{ total_price }} تومان</p>
            </div>
            <div class="text-end">
                <form method="POST" action="{% url 'place_order' %}">
                    {% csrf_token %}
                    <label for="order_type">Delivery</label>
                    <input type="checkbox" name="order_type" id="order_type">
                    <button class="btn-coffee"><span class="span-a">پرداخت</span></button>
                </form>
            </div>
        </div>
    </div>
  </div>

  <script src="{% static 'css/mohsen/src/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
