
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
        {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="{% static 'css/mohsen/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mohsen/src/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <nav class="nav">
    <ul>
      <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> ورود</a></li>
           <li><a href="{% url 'register' %}"><i class="fas fa-sign-in-alt"></i> ثبت نام</a></li>

    </ul>
  </nav>
  <div class="main">
    <div class="container mt-5">
        <h2 class="section-title">ورود به حساب کاربری</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4">
                    <form method="POST" action="{% url 'login' %}">
                                      {% csrf_token %}
                        <div class="mb-3">
                            <label for="username"  class="form-label">نام کاربری یا ایمیل</label>
                            <input type="text"  name="username_or_email" class="form-control" id="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">رمز عبور</label>
                            <input name="password" type="password" class="form-control" id="password" required>
                        </div>
                        <button type="submit" class=" btn-coffee w-100 mb-3">ورود</button>
                    </form>
                    <button onclick="window.open('{% url 'register' %}')" type="submit" class=" btn-coffee w-100">ثبت نام</button>
                </div>
            </div>
        </div>
    </div>
</div>

  <script src="{% static 'css/mohsen/src/bootstrap.bundle.min.js' %}"></script>
</body>
</html>

