{% extends 'base.html' %}


{% block content %}
<h2 class="section-title">سوابق خرید</h2>
          <div class="row row-cols-1 row-cols-md-3 g-4">
{% for order in orders %}

                  <div class="col">
          <div class="card h-100">
           <div class="card-body">
              <h5 class="card-title">سفارش شماره  #{{ order.order_id }}</h5>
              <p class="card-text">قیمت: {{ order.purchase_amount }}</p>
                        <p class="card-text">نوع: {{ order.type }}</p>
        <p class="card-text">تاریخ: {{ order.order_date }}</p>
                            {% for item in order.products %}
            <li>{{ item.product.name }} - تعداد: {{ item.quantity }}</li>
            {% endfor %}
            </div>
          </div>
          </div>
{% endfor %}
{% endblock %}
