<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/unauthenticated_homepage.css' %}">
</head>
<body>
    <a href="{% url 'login' %}">Log in</a>
    <a href="{% url 'register' %}">Create Account</a>

    <h2>Most Sold Products</h2>
    <ul>
        {% for item in products_with_sales %}
            <li><h2>{{ item.product.name }}</h2>
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                <p>Price: {{ item.product.price }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>